---
Language: Cpp

AlignConsecutiveMacros: Consecutive

IndentWidth: 4

PointerAlignment: Left
ReferenceAlignment: Right

IndentCaseLabels: true
IndentCaseBlocks: true

SpaceBeforeParensOptions: Never
SpaceBeforeAssignmentOperators: true
SpaceBeforeSquareBrackets: false
SpacesInSquareBrackets: false

SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false

BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
...